<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/Home/Auth" method="post">
        Name: <input type="text" name="inputName" placeholder="Enter your name"/><br /><br />
        Password: <input type="password" name="inputPass" placeholder="Enter your password"><br /><br />
        <input id ="submitBtn" type="submit" value="submit"/>
    </form>
</body>
</html>
